<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
     	<menuitem id="cauhinh_qldan"
			name="Quản lý dự án" sequence="19"/>
			
			<menuitem id="menu_dm"
				name="Danh mục"
				parent="cauhinh_qldan" sequence="1"/>
				
				<menuitem id="menu_action_du_an"
					action="action_du_an"
					name="Dự án"
					parent="menu_dm" sequence="1"/> 
				<menuitem id="menu_action_tham_dinh"
					action="action_tham_dinh"
					name="Thẩm định"
					parent="menu_dm" sequence="2"/>  
    </data>	
</openerp>