<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
    	<menuitem id="admin" name="Administrator" sequence="175"/>
    		<menuitem id="menu_items" name="Menu Items" parent="green_erp_base.admin" sequence="10"/>
    		
    			<menuitem id="base.menu_procurement_management_supplier_name" name="Suppliers"
			        parent="green_erp_base.menu_items"
			        action="base.action_partner_supplier_form" sequence="20"/>
    		
		<menuitem id="products" name="Products" parent="green_erp_base.menu_items" sequence="30"/>
    		<menuitem action="product.product_normal_action_sell" id="product.menu_products" parent="products" sequence="5"/>
    		<menuitem action="product.product_category_action_form" id="menu_product_category_action_form" parent="products" sequence="10"/>
    		<menuitem action="product.product_category_action" id="product.menu_products_category" parent="products" sequence="20" groups="base.group_no_one"/>
        <menuitem id="khach_hang" name="Customers" parent="green_erp_base.menu_items" sequence="10" action="base.action_partner_form" />
		
		<menuitem id="address_book" name="Address Book" parent="green_erp_base.menu_items" sequence="30"/>
			<menuitem id="menu_localisation" name="Localization" parent="address_book" sequence="10" />
				<menuitem action="base.action_country" id="menu_country_partner" parent="menu_localisation" sequence="0"/>
				<menuitem action="base.action_country_state" id="menu_country_state_partner" parent="menu_localisation" sequence="10"/>
			<menuitem action="base.action_partner_title_partner" id="menu_partner_title_partner" parent="address_book" sequence="20" groups="base.group_no_one"/>
			<menuitem action="base.action_partner_title_contact" id="menu_partner_title_contact" name="Contact Titles" parent="address_book" sequence="30" groups="base.group_no_one"/>
			<menuitem action="base.action_partner_category_form" id="menu_partner_category_form" name="Partner Tags" sequence="40" parent="address_book" groups="base.group_no_one"/>
			<menuitem action="base.action_res_partner_bank_account_form" id="menu_action_res_partner_bank_form" parent="address_book" groups="base.group_no_one" sequence="50"/>
			<menuitem action="base.action_res_bank_form" id="menu_action_res_bank_form" parent="address_book" sequence="60" groups="base.group_no_one"/>
			<menuitem action="base.action_res_partner_bank_type_form" id="menu_action_res_partner_bank_typeform" parent="address_book" groups="base.group_no_one" sequence="70"/>
		
		<menuitem id="product.menu_product_pricelist_main" name="Pricelists" 
            parent="menu_items" groups="product.group_sale_pricelist" sequence="40"/>
		
		<menuitem
             action="product.product_uom_categ_form_action" id="product.menu_purchase_uom_categ_form_action"
             parent="products" sequence="40" />
        <menuitem
             action="product.product_uom_form_action" id="product.menu_purchase_uom_form_action"
             parent="products" sequence="30"/>
		
		<menuitem
    		action="base.action_partner_category_form"
    		id="base.menu_partner_categories_in_form"
    		name="Partner Categories" parent="address_book"
    		groups="base.group_no_one" sequence="80"/>
    		
		<record model="ir.ui.menu" id="base.menu_base_config">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="mail.mail_feeds_main">
			<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="base.menu_partner_form">
			<field name="active" eval="False"/>
		</record>
		
		<menuitem id="menu_greenerp_user" name="Users" 
            parent="menu_items" sequence="100"/>
            
            <menuitem action="action_res_users_greenerp"
            	id="menu_action_res_users_greenerp"
            	parent="menu_greenerp_user" sequence="10"/>
		
    </data>
</openerp>