.openerp .oe_dropdown_menu {
    display: none;
    position: absolute;
    z-index: 100 !important;
    margin: 0;
    border: 1px solid #afafb6;
    background: white;
    padding: 4px 0;
    min-width: 140px;
    text-align: left;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
/* from web/static/lib/bootstrap.css */
.navbar-inverse {
  background-color: green !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: white !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #00B506 !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #00B506 !important;
}