.footer_contain{
	width: 100% !important;
	text-align: center;
	padding-top:10px;
	border-top: 1px solid;
}
.footer{
	margin-left: 30px !important;
	
}
h3.oe_fade.footer span.oe_form_field{
	width: auto !important;
	margin-left: 10px;
	margin-right: 30px;
	padding:0;
	font-weight: bold;
} 
