<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
		<menuitem id="quanly_root"
			name="Quản lý" sequence="1"/>
			
			<menuitem id="menu_quanly_phanphoi"
				name="Quản lý phân phối vé"
				parent="quanly_root" sequence="1"/>
				
				<menuitem id="menu_action_phanphoi_truyenthong"
					action="action_phanphoi_truyenthong"
					name="Danh sách kế hoạch phân phối vé truyền thống"
					parent="menu_quanly_phanphoi" sequence="1"/>
				
				<menuitem id="menu_action_dieuchinh_phanphoi_ve"
					action="action_dieuchinh_phanphoi_ve"
					name="Điều chỉnh kế hoạch phân phối vé"
					parent="menu_quanly_phanphoi" sequence="3"/>
					
    </data>	
</openerp>