<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
		<menuitem id="quanly_root"
			name="Quản lý" sequence="1"/>
			
			<menuitem id="menu_quanly_phanphoi"
				name="Quản lý phân phối vé"
				parent="quanly_root" sequence="1"/>
				
				<menuitem id="menu_action_phanphoi_truyenthong"
					action="action_phanphoi_truyenthong"
					name="Danh sách kế hoạch phân phối vé truyền thống"
					parent="menu_quanly_phanphoi" sequence="1"/>
				
				<menuitem id="menu_action_dieuchinh_phanphoi_ve"
					action="action_dieuchinh_phanphoi_ve"
					name="Điều chỉnh kế hoạch phân phối vé"
					parent="menu_quanly_phanphoi" sequence="3"/>
					
				<menuitem id="menu_action_nhap_ve_e"
					action="action_nhap_ve_e"
					name="Nhập vé ế theo khu vực"
					parent="menu_quanly_phanphoi" sequence="2"/>
				<menuitem id="menu_action_kh_in_ve_tt"
					action="action_kh_in_ve_tt"
					name="Kế hoạch in vé số truyền thống"
					parent="menu_quanly_phanphoi" sequence="4"/>
				<menuitem id="menu_action_baocao_nhanh_kyve"
					action="action_baocao_nhanh_kyve"
					name="Báo cáo nhanh theo kỳ vé"
					parent="menu_quanly_phanphoi" sequence="7"/>
			<menuitem id="menu_baocao"
				name="Báo cáo"
				parent="quanly_root" sequence="2"/>
				<menuitem id="menu_action_baocao_tieuthu_kyve"
					action="action_baocao_tieuthu_kyve"
					name="Báo cáo tiêu thụ kỳ vé"
					parent="menu_baocao" sequence="1"/>
				<menuitem id="menu_action_baocao_thitruong_kyve"
					action="action_baocao_thitruong_kyve"
					name="Báo cáo thị trường theo kỳ vé"
					parent="menu_baocao" sequence="5"/>
    </data>	
</openerp>