<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
		<menuitem id="cauhinh_root"
			name="Cấu hình" sequence="175"/>
			
			<menuitem id="menu_danh_muc"
				name="Danh mục"
				parent="cauhinh_root" sequence="1"/>
				
				<menuitem id="menu_action_tinh_tp"
					action="action_tinh_tp"
					name="Tỉnh/Thành phố"
					parent="menu_danh_muc" sequence="1"/>

				<menuitem id="menu_action_quan_huyen"
					action="action_quan_huyen"
					name="Quận/Huyện"
					parent="menu_danh_muc" sequence="5"/>
				<menuitem id="menu_action_phuong_xa"
					action="action_phuong_xa"
					name="Phường/Xã"
					parent="menu_danh_muc" sequence="10"/>				
				<menuitem id="menu_action_khu_pho"
					action="action_khu_pho"
					name="Khu phố"
					parent="menu_danh_muc" sequence="15"/>					
				<menuitem id="menu_action_chu_dau_tu"
					action="action_chu_dau_tu"
					name="Chủ đầu tư"
					parent="menu_danh_muc" sequence="20"/>	
				<menuitem id="menu_action_van_ban"
					action="action_van_ban"
					name="Văn bản"
					parent="menu_danh_muc" sequence="25"/>	
				<menuitem id="menu_action_nguon_von"
					action="action_nguon_von"
					name="Nguồn vốn"
					parent="menu_danh_muc" sequence="30"/>	
					
				<record model="ir.ui.menu" id="mail.mail_feeds_main">
					<field name="active" eval="False"/>
				</record>
					
    </data>	
</openerp>