<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
    	<record model="ir.ui.menu" id="account.menu_action_invoice_tree3">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_finance_payables">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_finance_bank_and_cash">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_action_tax_code_tree">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_finance_periodical_processing">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_finance_reports">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.next_id_27">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_action_bank_tree">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.account_template_folder">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_account_reports">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_action_payment_term_form">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_action_account_statement_operation_template">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_email_templates">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_action_invoice_tree1">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account_voucher.menu_action_sale_receipt">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account_voucher.menu_action_vendor_receipt">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account_voucher.menu_encode_entries_by_voucher">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_finance">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="base.menu_reporting">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_account_customer">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_account_supplier">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_action_invoice_tree2">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account_voucher.menu_action_vendor_payment">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="base.menu_base_partner">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="base.menu_action_currency_form">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="base.menu_administration">
			<field name="groups_id" eval="[(6,0,[ref('base.group_no_one')])]"/>
		</record>
		
		<menuitem id="menu_root_doituong"
			name="Đối Tượng" sequence="1"/>
			
			<menuitem id="menu_doituong"
				name="Đối tượng"
				parent="menu_root_doituong" sequence="10"/>
				
				<menuitem id="menu_action_partner_taixe"
		            name="Lái xe"
		            parent="menu_doituong"
		            action="action_partner_taixe" sequence="10"/>
		            
	            <menuitem id="menu_action_partner_ndt"
		            name="Nhà đầu tư"
		            parent="menu_doituong"
		            action="action_partner_ndt" sequence="20"/>
		            
	            <menuitem id="menu_action_partner_ndt_giantiep"
		            name="Đơn vị thu chi hộ"
		            parent="menu_doituong"
		            action="action_partner_ndt_giantiep" sequence="25"/>
		            
	            <menuitem id="menu_action_partner_nvvp"
		            name="Nhân viên văn phòng"
		            parent="menu_doituong"
		            action="action_partner_nvvp" sequence="30"/>
	            
		<menuitem id="menu_root_congno"
			name="Phải Thu" sequence="2"/>
			
			<menuitem id="menu_cong_no"
				name="Phải thu"
				parent="menu_root_congno" sequence="10"/>
				
				<menuitem id="menu_action_no_doanh_thu"
					action="action_no_doanh_thu"
					name="Nợ DT-BH-AL"
					parent="menu_cong_no" sequence="5"/>
					
				<menuitem id="menu_action_chi_ho_dien_thoai"
					action="action_chi_ho_dien_thoai"
					name="Phải thu chi hộ điện thoại"
					parent="menu_cong_no" sequence="6"/>
					
				<menuitem id="menu_action_phai_thu_bao_hiem"
					action="action_phai_thu_bao_hiem"
					name="Phải thu bảo hiểm"
					parent="menu_cong_no" sequence="7"/>
					
				<!-- <menuitem id="menu_action_phai_thu_ky_quy"
					action="action_phai_thu_ky_quy"
					name="Phải thu ký quỹ"
					parent="menu_cong_no" sequence="8"/> -->
					
				<menuitem id="menu_action_phat_vi_pham"
					action="action_phat_vi_pham"
					name="Phạt vi phạm"
					parent="menu_cong_no" sequence="9"/>
					
				<menuitem id="menu_action_thu_no_xuong"
					action="action_thu_no_xuong"
					name="Thu nợ xưởng"
					parent="menu_cong_no" sequence="10"/>
					
				<menuitem id="menu_action_thu_phi_thuong_hieu"
					action="action_thu_phi_thuong_hieu"
					name="Thu phí thương hiệu"
					parent="menu_cong_no" sequence="15"/>
					
				<menuitem id="menu_action_tra_gop_xe"
					action="action_tra_gop_xe"
					name="Trả góp xe"
					parent="menu_cong_no" sequence="20"/>
					
				<menuitem id="menu_action_hoan_tam_ung"
					action="action_hoan_tam_ung"
					name="Phải thu tạm ứng"
					parent="menu_cong_no" sequence="25"/>
					
				<menuitem id="menu_action_thu_ky_quy"
					action="action_thu_ky_quy"
					name="Ký quỹ"
					parent="menu_cong_no" sequence="30"/>
			
			<menuitem id="menu_in_dexuat"
				name="In đề xuất chi"
				parent="menu_root_congno" sequence="15"/>
				
				<menuitem id="menu_action_in_dexuat_dienthoai_report"
					name="In đề xuất điện thoại"
					action="action_in_dexuat_dienthoai_report"
					parent="menu_in_dexuat" sequence="10"/>
				
				<menuitem id="menu_action_in_dexuat_baohiem_report"
					name="In đề xuất cho bảo hiểm"
					action="action_in_dexuat_baohiem_report"
					parent="menu_in_dexuat" sequence="15"/>
					
				<menuitem id="menu_action_in_dexuat_noxuong_report"
					name="In đề xuất cho nợ xưởng"
					action="action_in_dexuat_noxuong_report"
					parent="menu_in_dexuat" sequence="20"/>
					
			<menuitem id="menu_import_cong_no_thu"
				name="Import"
				parent="menu_root_congno" sequence="20"/>
				
				<menuitem id="menu_action_import_phaithu_nodoanhthu"
					action="action_import_phaithu_nodoanhthu"
					name="Nhập nợ DT-BH-AL"
					parent="menu_import_cong_no_thu" sequence="2"/>
				
				<menuitem id="menu_action_import_phaithu_chiho_dienthoai"
					action="action_import_phaithu_chiho_dienthoai"
					name="Nhập phải thu chi hộ điện thoại"
					parent="menu_import_cong_no_thu" sequence="5"/>
					
				<menuitem id="menu_action_import_phaithu_baohiem"
					action="action_import_phaithu_baohiem"
					name="Nhập phải thu bảo hiểm"
					parent="menu_import_cong_no_thu" sequence="10"/>
					
				<menuitem id="menu_action_import_phaithu_noxuong"
					action="action_import_phaithu_noxuong"
					name="Nhập thu nợ xưởng"
					parent="menu_import_cong_no_thu" sequence="15"/>
					
		<menuitem id="menu_root_congno_chi"
			name="Phải Trả" sequence="3"/>
			
			<menuitem id="menu_congno_chi"
				name="Phải trả"
				parent="menu_root_congno_chi" sequence="3"/>
				
				<!-- <menuitem id="menu_action_chi_no_doanh_thu"
					action="action_chi_no_doanh_thu"
					name="Chi nợ doanh thu"
					parent="menu_congno_chi" sequence="5"/> -->
					
				<!-- <menuitem id="menu_action_chi_dien_thoai"
					action="action_chi_dien_thoai"
					name="Chi điện thoại"
					parent="menu_congno_chi" sequence="10"/> -->
					
				<!-- <menuitem id="menu_action_chi_bao_hiem"
					action="action_chi_bao_hiem"
					name="Chi bảo hiểm"
					parent="menu_congno_chi" sequence="15"/> -->
					
				<menuitem id="menu_action_tra_ky_quy"
					action="action_tra_ky_quy"
					name="Ký quỹ"
					parent="menu_congno_chi" sequence="20"/>
					
				<!-- <menuitem id="menu_action_tam_ung"
					action="action_tam_ung"
					name="Tạm ứng"
					parent="menu_congno_chi" sequence="25"/> -->
					
				<menuitem id="menu_action_chi_ho"
					action="action_chi_ho"
					name="Phải trả chi hộ"
					parent="menu_congno_chi" sequence="30"/>
		
		<!--<menuitem id="menu_root_baohiem_xe"
			name="Bảo Hiểm Xe" sequence="5"/>
			
			<menuitem id="menu_baohiem_xe"
				name="Bảo hiểm xe"
				parent="menu_root_baohiem_xe" sequence="3"/>
				
				<menuitem id="menu_action_ql_bao_hiem"
					action="action_ql_bao_hiem"
					name="Quản lý bảo hiểm xe"
					parent="menu_baohiem_xe" sequence="10"/>-->
		
		<menuitem id="menu_root_quanly"
			name="Quản Lý" sequence="10"/>
			
			<menuitem id="menu_danhmuc_dungchung"
				name="Danh mục dùng chung"
				parent="menu_root_quanly" sequence="10"/>
				
				<menuitem id="menu_action_thungan_bai_giaoca"
					action="action_thungan_bai_giaoca"
					name="Thu ngân bãi giao ca"
					parent="menu_danhmuc_dungchung" sequence="1"/>
					
				<menuitem id="menu_action_dieuhanh_bai_giaoca"
					action="action_dieuhanh_bai_giaoca"
					name="Điều hành bãi giao ca"
					parent="menu_danhmuc_dungchung" sequence="2"/>
					
				<menuitem id="menu_action_bai_giaoca"
					action="action_bai_giaoca"
					name="Bãi giao ca"
					parent="menu_danhmuc_dungchung" sequence="3"/>
					
				<!-- <menuitem id="menu_action_loai_doi_tuong"
					action="action_loai_doi_tuong"
					name="Loại đối tượng"
					parent="menu_danhmuc_dungchung" sequence="4"/> -->
					
				<menuitem id="menu_action_loai_ky_quy"
					action="action_loai_ky_quy"
					name="Loại ký quỹ"
					parent="menu_danhmuc_dungchung" sequence="5"/>
					
				<menuitem id="menu_action_loai_vi_pham"
					action="action_loai_vi_pham"
					name="Loại vi phạm"
					parent="menu_danhmuc_dungchung" sequence="6"/>
					
				<menuitem id="menu_action_loai_bao_hiem"
					action="action_loai_bao_hiem"
					name="Loại bảo hiểm"
					parent="menu_danhmuc_dungchung" sequence="6"/>
					
				<menuitem id="menu_action_loai_tam_ung"
					action="action_loai_tam_ung"
					name="Loại tạm ứng"
					parent="menu_danhmuc_dungchung" sequence="7"/>
					
				<menuitem id="menu_action_ma_xuong"
					action="action_ma_xuong"
					name="Mã xưởng"
					parent="menu_danhmuc_dungchung" sequence="8"/>
					
				<menuitem id="menu_action_no_hang_muc"
					action="action_no_hang_muc"
					name="Nợ hạng mức"
					parent="menu_danhmuc_dungchung" sequence="9"/>
				
				<menuitem id="menu_action_loai_no_doanh_thu"
					action="action_loai_no_doanh_thu"
					name="Loại nợ DT-BH-AL"
					parent="menu_danhmuc_dungchung" sequence="10"/>
						
				<menuitem id="menu_action_bien_so_xe"
					action="action_bien_so_xe"
					name="Biển số xe"
					parent="menu_danhmuc_dungchung" sequence="15"/>
					
				<menuitem id="menu_action_lichsu_giaodich"
					name="Lịch sử giao dịch"
					action="action_lichsu_giaodich"
					parent="menu_danhmuc_dungchung" sequence="25"/>
					
		<menuitem id="menu_root_luocdo"
			name="Lược Đồ" sequence="15"/>
			
			<menuitem id="account.menu_finance_charts"
				name="Cây biểu đồ"
				parent="menu_root_luocdo" sequence="10"/>
					
		<menuitem id="menu_root_baocao"
			name="Báo Cáo" sequence="20"/>
			
			<!-- <menuitem id="menu_danhsach_baohiem_xe"
				name="Danh sách bảo hiểm xe"
				parent="menu_root_baocao" sequence="5"/> -->
				
				<!-- <menuitem id="menu_action_bao_hiem_xe_report"
					name="DS Bảo hiểm xe"
					action="action_bao_hiem_xe_report"
					parent="menu_danhsach_baohiem_xe" sequence="10"/> -->
			
			<!--<menuitem id="menu_danhsach_congno"
				name="Danh sách công nợ"
				parent="menu_root_baocao" sequence="10"/>
				
				<menuitem id="menu_action_no_doanh_thu_report"
					name="DS Nợ doanh thu"
					action="action_no_doanh_thu_report"
					parent="menu_danhsach_congno" sequence="10"/>
					
				<menuitem id="menu_action_chi_ho_dien_thoai_report"
					name="DS Chi hộ điện thoại"
					action="action_chi_ho_dien_thoai_report"
					parent="menu_danhsach_congno" sequence="20"/>
					
				<menuitem id="menu_action_phai_thu_bao_hiem_report"
					name="DS Phải thu bảo hiểm"
					action="action_phai_thu_bao_hiem_report"
					parent="menu_danhsach_congno" sequence="30"/>
					
					
					
				<menuitem id="menu_action_phat_vi_pham_report"
					name="DS Phạt vi phạm"
					action="action_phat_vi_pham_report"
					parent="menu_danhsach_congno" sequence="40"/>-->
			
			<menuitem id="menu_congno_dauky"
				name="Công Nợ Đầu Kỳ"
				parent="menu_root_baocao" sequence="10"/>
				
				<menuitem id="menu_action_congno_dauky"
					name="Công nợ đầu kỳ"
					action="action_congno_dauky"
					parent="menu_congno_dauky" sequence="10"/>
			
			<menuitem id="menu_chitiet_congno"
				name="Báo cáo chi tiết công nợ"
				parent="menu_root_baocao" sequence="12"/>
				
				<menuitem id="menu_action_tonghop_congno"
					name="Tổng hợp công nợ"
					action="action_tonghop_congno"
					parent="menu_chitiet_congno" sequence="5"/>
					
				<menuitem id="menu_action_tonghop_congno_mot_doituong"
					name="Tổng hợp công nợ một đối tượng"
					action="action_tonghop_congno_mot_doituong"
					parent="menu_chitiet_congno" sequence="7"/>
				
				<menuitem id="menu_action_chitiet_congno"
					name="Chi tiết công nợ"
					action="action_chitiet_congno"
					parent="menu_chitiet_congno" sequence="10"/>
					
				<menuitem id="menu_action_chitiet_congno_mot_doituong"
					name="Chi tiết công nợ một đối tượng"
					action="action_chitiet_congno_mot_doituong"
					parent="menu_chitiet_congno" sequence="12"/>
					
				<menuitem id="menu_action_chitiet_congno_tgx"
					name="Chi tiết trả góp xe"
					action="action_chitiet_congno_tgx"
					parent="menu_chitiet_congno" sequence="13"/>
					
				<menuitem id="menu_action_chitiet_congno_thuho"
					name="Chi tiết công nợ thu hộ"
					action="action_chitiet_congno_thuho"
					parent="menu_chitiet_congno" sequence="14"/>
					
				<menuitem id="menu_action_chitiet_congno_kyquy"
					name="Chi tiết công nợ ký quỹ"
					action="action_chitiet_congno_kyquy"
					parent="menu_chitiet_congno" sequence="15"/>
					
				<menuitem id="menu_action_congno_vuotdinhmuc"
					name="Công nợ vượt định mức"
					action="action_congno_vuotdinhmuc"
					parent="menu_chitiet_congno" sequence="17"/>
					
				<menuitem id="menu_action_congno_dangcho"
					name="Công nợ đang chờ"
					action="action_congno_dangcho"
					parent="menu_chitiet_congno" sequence="20"/>
					
				<menuitem id="menu_action_congno_dangchothu"
					name="Công nợ đang chờ thu"
					action="action_congno_dangchothu"
					parent="menu_chitiet_congno" sequence="25"/>
			
			<menuitem id="menu_baocao_cong_no_thu"
				name="Báo cáo công nợ"
				parent="menu_root_baocao" sequence="15"/>
				
				<menuitem id="menu_action_congno_theo_sohopdong"
					action="action_congno_theo_sohopdong"
					name="Theo số hợp đồng"
					parent="menu_baocao_cong_no_thu" sequence="5"/>
					
				<menuitem id="menu_action_congno_theo_sohoadon"
					action="action_congno_theo_sohoadon"
					name="Theo số hóa đơn"
					parent="menu_baocao_cong_no_thu" sequence="10"/>
					
				<menuitem id="menu_action_congno_theo_biensoxe"
					action="action_congno_theo_biensoxe"
					name="Theo biển số xe"
					parent="menu_baocao_cong_no_thu" sequence="15"/>
					
				<menuitem id="menu_action_congno_theo_bang_chiettinh"
					action="action_congno_theo_bang_chiettinh"
					name="Theo bảng chiết tính"
					parent="menu_baocao_cong_no_thu" sequence="20"/>
					
			<menuitem id="menu_baocao_theo_danhmuc"
				name="Báo cáo theo danh mục"
				parent="menu_root_baocao" sequence="13"/>
					
				<menuitem id="menu_action_congno_theo_loai_baohiem"
					action="action_congno_theo_loai_baohiem"
					name="Theo loại bảo hiểm"
					parent="menu_baocao_theo_danhmuc" sequence="5"/>
					
				<menuitem id="menu_action_congno_theo_loaivipham"
					action="action_congno_theo_loaivipham"
					name="Theo loại vi phạm"
					parent="menu_baocao_theo_danhmuc" sequence="10"/>
				
				<menuitem id="menu_action_congno_theo_loainodoanhthu"
					action="action_congno_theo_loainodoanhthu"
					name="Theo loại nợ DT-BH-AL"
					parent="menu_baocao_theo_danhmuc" sequence="11"/>
					
				<menuitem id="menu_action_congno_theo_loaitamung"
					action="action_congno_theo_loaitamung"
					name="Theo loại tạm ứng"
					parent="menu_baocao_theo_danhmuc" sequence="15"/>
					
				<menuitem id="menu_action_congno_theo_loaikyquy"
					action="action_congno_theo_loaikyquy"
					name="Theo loại ký quỹ"
					parent="menu_baocao_theo_danhmuc" sequence="20"/>
					
			<menuitem id="menu_baocao_doanhso"
				name="Báo cáo doanh số"
				parent="menu_root_baocao" sequence="15"/>
				
				<menuitem id="menu_action_doanh_so_thu_wizard"
					name="Doanh số đã thu"
					action="action_doanh_so_thu_wizard"
					parent="menu_baocao_doanhso" sequence="5"/>
					
				<menuitem id="menu_action_doanh_so_phaithu_wizard"
					name="Doanh số phải thu"
					action="action_doanh_so_phaithu_wizard"
					parent="menu_baocao_doanhso" sequence="10"/>
					
				<menuitem id="menu_action_doanh_so_tra_wizard"
					name="Doanh số đã chi"
					action="action_doanh_so_tra_wizard"
					parent="menu_baocao_doanhso" sequence="15"/>
					
				<menuitem id="menu_action_doanh_so_phaitra_wizard"
					name="Doanh số phải chi"
					action="action_doanh_so_phaitra_wizard"
					parent="menu_baocao_doanhso" sequence="20"/>
					
		<menuitem id="menu_root_cauhinh_arap"
			name="Cấu Hình ARAP" sequence="25"/>
			
			<menuitem id="menu_cauhinh_arap"
				name="Cấu hình ARAP"
				parent="menu_root_cauhinh_arap" sequence="5"/>
				
				<menuitem id="menu_ir_cron_act_mlg"
					name="Cấu hình tự động"
					action="ir_cron_act_mlg"
					parent="menu_cauhinh_arap" sequence="10"/>
					
				<menuitem id="menu_ir_sequence_act_mlg"
					name="Thông số tự động"
					action="ir_sequence_act_mlg"
					parent="menu_cauhinh_arap" sequence="12"/>
					
				<menuitem id="menu_action_res_users"
					name="Người dùng"
					action="base.action_res_users"
					parent="menu_cauhinh_arap" sequence="15"
					groups="base.group_erp_manager"/>
					
				<menuitem id="menu_action_cauhinh_thumuc_import"
					action="action_cauhinh_thumuc_import"
					name="Thư mục nhập (bằng tay)"
					parent="menu_cauhinh_arap" sequence="20"/>
					
				<menuitem id="menu_action_cauhinh_thumuc_import_tudong"
					action="action_cauhinh_thumuc_import_tudong"
					name="Thư mục nhập (tự động)"
					parent="menu_cauhinh_arap" sequence="25"/>
					
				<menuitem id="menu_action_cauhinh_thumuc_output_tudong"
					action="action_cauhinh_thumuc_output_tudong"
					name="Thư mục xuất (tự động)"
					parent="menu_cauhinh_arap" sequence="30"/>
					
			<menuitem id="account.menu_finance_entries"
				name="Journal Entries"
				parent="menu_root_cauhinh_arap" sequence="15"/>
			
			<menuitem id="account.periodical_processing_journal_entries_validation"
				name="Draft Entries"
				parent="menu_root_cauhinh_arap" sequence="16"/>

			<menuitem id="account.menu_account_end_year_treatments"
				name="End of Period"
				parent="menu_root_cauhinh_arap" sequence="17"/>
			
			<menuitem id="menu_cauhinh"
				name="Cấu hình"
				parent="menu_root_cauhinh_arap" sequence="20"/>
				
				<menuitem id="account.next_id_23"
					name="Periods"
					parent="menu_cauhinh" sequence="20"/>
					
				<menuitem id="account.menu_journals"
					name="Journals"
					parent="menu_cauhinh" sequence="30"/>
					
				<menuitem id="account.account_account_menu"
					name="Accounts"
					parent="menu_cauhinh" sequence="40"/>
					
		<menuitem id="menu_action_loai_cong_no"
			action="action_loai_cong_no"
			name="Loại công nợ"
			parent="base.menu_custom" sequence="40"/>
	</data>
</openerp>