<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
    	<record model="ir.ui.menu" id="account.menu_action_invoice_tree3">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_finance_payables">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_finance_bank_and_cash">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_action_tax_code_tree">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_finance_periodical_processing">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_finance_reports">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.next_id_27">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_action_bank_tree">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.account_template_folder">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_account_reports">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_action_payment_term_form">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_action_account_statement_operation_template">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_email_templates">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_action_invoice_tree1">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account_voucher.menu_action_sale_receipt">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account_voucher.menu_action_vendor_receipt">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account_voucher.menu_encode_entries_by_voucher">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_finance">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="base.menu_reporting">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_account_customer">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_account_supplier">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_action_invoice_tree2">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account_voucher.menu_action_vendor_payment">
			<field name="active" eval="False"/>
		</record>
		
		<menuitem id="menu_root_doituong"
			name="Đối Tượng" sequence="1"/>
			
			<menuitem id="menu_doituong"
				name="Đối tượng"
				parent="menu_root_doituong" sequence="10"/>
				
				<menuitem id="menu_action_partner_taixe"
		            name="Tài xế"
		            parent="menu_doituong"
		            action="action_partner_taixe" sequence="10"/>
		            
	            <menuitem id="menu_action_partner_ndt"
		            name="Nhà đầu tư"
		            parent="menu_doituong"
		            action="action_partner_ndt" sequence="20"/>
		            
	            <menuitem id="menu_action_partner_nvvp"
		            name="Nhân viên văn phòng"
		            parent="menu_doituong"
		            action="action_partner_nvvp" sequence="30"/>
	            
		<menuitem id="menu_root_congno"
			name="Công Nợ Thu" sequence="2"/>
			
			<menuitem id="menu_cong_no"
				name="Công nợ thu"
				parent="menu_root_congno" sequence="10"/>
				
				<menuitem id="menu_action_no_doanh_thu"
					action="action_no_doanh_thu"
					name="Nợ doanh thu"
					parent="menu_cong_no" sequence="5"/>
					
				<menuitem id="menu_action_chi_ho_dien_thoai"
					action="action_chi_ho_dien_thoai"
					name="Chi hộ điện thoại"
					parent="menu_cong_no" sequence="6"/>
					
				<menuitem id="menu_action_phai_thu_bao_hiem"
					action="action_phai_thu_bao_hiem"
					name="Phải thu bảo hiểm"
					parent="menu_cong_no" sequence="7"/>
					
				<menuitem id="menu_action_phai_tra_ky_quy"
					action="action_phai_tra_ky_quy"
					name="Phải trả ký quỹ"
					parent="menu_cong_no" sequence="8"/>
					
				<menuitem id="menu_action_phat_vi_pham"
					action="action_phat_vi_pham"
					name="Phạt vi phạm"
					parent="menu_cong_no" sequence="9"/>
					
				<menuitem id="menu_action_thu_no_xuong"
					action="action_thu_no_xuong"
					name="Thu nợ xưởng"
					parent="menu_cong_no" sequence="10"/>
					
				<menuitem id="menu_action_thu_phi_thuong_hieu"
					action="action_thu_phi_thuong_hieu"
					name="Thu phí thương hiệu"
					parent="menu_cong_no" sequence="15"/>
					
				<menuitem id="menu_action_tra_gop_xe"
					action="action_tra_gop_xe"
					name="Trả góp xe"
					parent="menu_cong_no" sequence="20"/>
					
				<menuitem id="menu_action_tam_ung"
					action="action_tam_ung"
					name="Tạm ứng"
					parent="menu_cong_no" sequence="25"/>
				
			<menuitem id="account.menu_finance_entries"
				name="Bút toán"
				parent="menu_root_congno" sequence="20"/>
		
		<menuitem id="menu_root_congno_chi"
			name="Công Nợ Chi" sequence="3"/>
			
			<menuitem id="menu_congno_chi"
				name="Công nợ chi"
				parent="menu_root_congno_chi" sequence="3"/>
				
				<menuitem id="menu_action_chi_no_doanh_thu"
					action="action_chi_no_doanh_thu"
					name="Chi nợ doanh thu"
					parent="menu_congno_chi" sequence="5"/>
					
		<menuitem id="menu_root_quanly"
			name="Quản Lý" sequence="4"/>
			
			<menuitem id="menu_danhmuc_dungchung"
				name="Danh mục dùng chung"
				parent="menu_root_quanly" sequence="10"/>
				
				<menuitem id="menu_action_thungan_bai_giaoca"
					action="action_thungan_bai_giaoca"
					name="Thu ngân bãi giao ca"
					parent="menu_danhmuc_dungchung" sequence="1"/>
					
				<menuitem id="menu_action_dieuhanh_bai_giaoca"
					action="action_dieuhanh_bai_giaoca"
					name="Điều hành bãi giao ca"
					parent="menu_danhmuc_dungchung" sequence="2"/>
					
				<menuitem id="menu_action_bai_giaoca"
					action="action_bai_giaoca"
					name="Bãi giao ca"
					parent="menu_danhmuc_dungchung" sequence="3"/>
					
				<!-- <menuitem id="menu_action_loai_doi_tuong"
					action="action_loai_doi_tuong"
					name="Loại đối tượng"
					parent="menu_danhmuc_dungchung" sequence="4"/> -->
					
				<menuitem id="menu_action_loai_ky_quy"
					action="action_loai_ky_quy"
					name="Loại ký quỹ"
					parent="menu_danhmuc_dungchung" sequence="5"/>
					
				<menuitem id="menu_action_loai_vi_pham"
					action="action_loai_vi_pham"
					name="Loại vi phạm"
					parent="menu_danhmuc_dungchung" sequence="6"/>
					
				<menuitem id="menu_action_ma_xuong"
					action="action_ma_xuong"
					name="Mã xưởng"
					parent="menu_danhmuc_dungchung" sequence="8"/>
			
			<menuitem id="account.menu_finance_entries"
				parent="menu_root_quanly" sequence="15"/>
			
			<menuitem id="menu_cauhinh"
				name="Cấu hình"
				parent="menu_root_quanly" sequence="20"/>
				
				<menuitem id="account.next_id_23"
					name="Periods"
					parent="menu_cauhinh" sequence="20"/>
					
				<menuitem id="account.menu_journals"
					name="Journals"
					parent="menu_cauhinh" sequence="30"/>
					
				<menuitem id="account.account_account_menu"
					name="Accounts"
					parent="menu_cauhinh" sequence="40"/>
					
				<menuitem id="account.menu_configuration_misc"
					name="Miscellaneous"
					parent="menu_cauhinh" sequence="50"/>
					
		<menuitem id="menu_root_luocdo"
			name="Lược Đồ" sequence="5"/>
			
			<menuitem id="account.menu_finance_charts"
				name="Cây biểu đồ"
				parent="menu_root_luocdo" sequence="10"/>
					
		<menuitem id="menu_root_baocao"
			name="Báo Cáo" sequence="6"/>
			
			<menuitem id="menu_danhsach_congno"
				name="Danh sách công nợ"
				parent="menu_root_baocao" sequence="10"/>
				
				<menuitem id="menu_action_no_doanh_thu_report"
					name="DS Nợ doanh thu"
					action="action_no_doanh_thu_report"
					parent="menu_danhsach_congno" sequence="10"/>
					
				<menuitem id="menu_action_chi_ho_dien_thoai_report"
					name="DS Chi hộ điện thoại"
					action="action_chi_ho_dien_thoai_report"
					parent="menu_danhsach_congno" sequence="20"/>
					
				<menuitem id="menu_action_phai_thu_bao_hiem_report"
					name="DS Phải thu bảo hiểm"
					action="action_phai_thu_bao_hiem_report"
					parent="menu_danhsach_congno" sequence="30"/>
					
					
					
				<menuitem id="menu_action_phat_vi_pham_report"
					name="DS Phạt vi phạm"
					action="action_phat_vi_pham_report"
					parent="menu_danhsach_congno" sequence="40"/>
	</data>
</openerp>