<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
    
    	<record model="ir.ui.menu" id="account.menu_account_customer">
			<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="account.menu_account_supplier">
			<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="account.menu_finance_legal_statement">
			<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="account.menu_finance_generic_reporting">
			<field name="active" eval="False"/>
		</record>
    	
    	
<!-- Sale and Purchase Receipt -->
	<menuitem id="menu_sale_purchase_receipt"
		name="Sale and Purchase Receipt"
		parent="account.menu_finance" 
		sequence="3"/>

<!-- Phiếu chi -->
		<menuitem id="menu_action_purchase_receipt_batch_cash" icon="STOCK_JUSTIFY_FILL"
	        action="action_purchase_receipt_batch_cash" 
	        parent="menu_sale_purchase_receipt" sequence="5"/>
	        
	    <menuitem id="menu_action_purchase_receipt_batch_bank" icon="STOCK_JUSTIFY_FILL"
	        action="action_purchase_receipt_batch_bank" 
	        parent="menu_sale_purchase_receipt" sequence="10"/>
        
        <menuitem id="account_voucher.menu_action_purchase_receipt" icon="STOCK_JUSTIFY_FILL"
       		action="account_voucher.action_purchase_receipt" 
       		parent="menu_sale_purchase_receipt" 
       		sequence="20"/>
   		
<!-- Phieu Thu -->
		<menuitem id="menu_action_sale_receipt_batch_cash" icon="STOCK_JUSTIFY_FILL"
	        action="action_sale_receipt_batch_cash" 
	        parent="menu_sale_purchase_receipt"
	        sequence="30"/>
	            
        <menuitem id="menu_action_sale_receipt_batch_bank" icon="STOCK_JUSTIFY_FILL"
            action="action_sale_receipt_batch_bank" 
            parent="menu_sale_purchase_receipt"
            sequence="40"/>
            
   		<menuitem id="account_voucher.menu_action_sale_receipt" icon="STOCK_JUSTIFY_FILL"
            action="account_voucher.action_sale_receipt"
            parent="menu_sale_purchase_receipt"
            sequence="50"/>
            
    </data>
</openerp>