<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
    	
    	<menuitem name="GreenERP Report" 
    		id="menu_greenerp_report" parent="base.menu_custom"
    		sequence="11"/>
	
	     <menuitem id="menu_action_greenerp_report"
	          action="action_greenerp_report"
	          parent="menu_greenerp_report"
	          sequence="10"/>
	          
		
    </data>
</openerp>